body {
    background-color: #272727;
    color: WhiteSmoke;
    position: relative;
}

table {
    margin: auto;
}

.carousel {
    margin: auto;
    width: 620px;
    height: 300px;
}

.car_image {
    width: 620px;
    height: 300px;
}

#home {
    margin-top: 70px;
    padding-bottom: 30px;
    padding-right:16px;
    padding-left:16px;
}

#play_chess {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right:16px;
    padding-left:16px;
}

#about {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right:16px;
    padding-left:16px;
}

#title {
    padding-bottom:16px;
}

#intro {
    padding-top:16px;
}

#end {
    padding-top:16px;
}

#me {
    width: 100%;
    transform: rotate();
}

a:link, a:visited, a:hover, a:active {
    color: Gold;
    text-decoration: none;
}

a.light {
   color: Black;
   text-decoration: none;
}

.y_nums {
    width: 20px;
    height: 42px;
    text-align: center;
}

.light_square {
    background-color: WhiteSmoke;
    width: 42px;
    height: 42px;
    text-align:center;
    position: relative;
}

.dark_square {
    background-color: #966136;
    width: 42px;
    height: 42px;
    text-align:center;
    position: relative;
}

.dot {
  height: 17px;
  width: 17px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  position:absolute;
  transform: translate(-50%, -50%);
}

.highlight {
    background-color: Gold;
    width: 42px;
    height: 42px;
    opacity: 0.5;
}

.piece {
    width: 40px;
    height: 40px;
}

.x_letter {
    width: 42.5px;
    height: 20px;
    text-align: center;
}

