<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Python Chess App</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="display-3 text-center">Python Chess App</h1>
        <img src="/static/board_art.jpg" class="mx-auto d-block img-fluid" style="width: 600px; height: 300px;">
        <h4 class="text-center">The chess app below was built using Python! If you would like to see the code, visit my github: <a href="https://github.com/BushiDokaj" target="_blank">BushiDokaj</a></h4>
    </div>
</body>
</html>