<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/drag.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Python Chess App</title>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-color: #272727; color: WhiteSmoke; position: relative;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#play_chess"><i class="fas fa-chess"></i> Play Chess</a> </li>
            <li class="nav-item"><a class="nav-link" href="#about">About Me</a> </li>
        </ul>
    </nav>
    <div id="home" class="container-fluid p-3 my-3">
        <h1 class="display-3 text-center">Python Chess App</h1>
        <p></p>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                        <li data-target="#demo" data-slide-to="3"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/chess_art.jpg" class="mx-auto d-block img-fluid" style="width: 750px; height: 400px;">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/bobby_fischer.jpeg" class="mx-auto d-block img-fluid" style="width: 750px; height: 400px;">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/garry_kasparov.jpg" class="mx-auto d-block img-fluid" style="width: 750px; height: 400px;">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/magnus_carlsen.jpeg" class="mx-auto d-block img-fluid" style="width: 750px; height: 400px;">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <p></p>
        <h4 class="text-center">The chess app below was built using Python! If you would like to see the code, visit my github: <a href="https://github.com/BushiDokaj" target="_blank">BushiDokaj</a></h4>
    </div>
    <div id="play_chess" class="container-fluid p-3 my-3">
        <div class="col">
            <table class="table-borderless">
                <tr>
                    <td>
                        <table class="table-borderless">
                            {% for y in range(8) %}
                                <tr>
                                    <td style="width: 20px; height: 60px;">{{ 8-y }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                    <td>
                        <table class="table-bordered">
                            {% for y in range(8) %}
                                <tr>
                                    {% for x in range(8) %}
                                        {% if x in [1,3,5,7] %}
                                            {% if y in [0,2,4,6,8] %}
                                                <td id="div{{ x }}{{ y }}" data-square="({{ x+1 }},{{ 8-y }})" style="background-color: Sienna; width: 61px; height: 61px" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                    {% if (x+1,8-y) in img_dict.keys() %}
                                                        <img id="drag{{ x }}{{ y }}" data-square="({{ x+1 }},{{ 8-y }})" src="/static/images/{{ img_dict[(x+1,8-y)] }}" draggable="true" ondragstart="drag(event)">
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td id="div{{ x }}{{ y }}" data-square="({{ x+1 }},{{ 8-y }})" style="background-color: Ivory; width: 61px; height: 61px" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                    {% if (x+1,8-y) in img_dict.keys() %}
                                                        <img id="drag{{ x }}{{ y }}" data-square="({{ x+1 }},{{ 8-y }})" src="/static/images/{{ img_dict[(x+1,8-y)] }}" draggable="true" ondragstart="drag(event)">
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% else %}
                                            {% if y in [1,3,5,7] %}
                                                <td id="div{{ x }}{{ y }}" data-square="({{ x+1 }},{{ 8-y }})" style="background-color: Sienna; width: 61px; height: 61px" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                    {% if (x+1,8-y) in img_dict.keys() %}
                                                        <img id="drag{{ x }}{{ y }}"  data-square="({{ x+1 }},{{ 8-y }})" src="/static/images/{{ img_dict[(x+1,8-y)] }}" draggable="true" ondragstart="drag(event)">
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td id="div{{ x }}{{ y }}" data-square="({{ x+1 }},{{ 8-y }})" style="background-color: Ivory; width: 61px; height: 61px" ondrop="drop(event)" ondragover="allowDrop(event)">
                                                    {% if (x+1,8-y) in img_dict.keys() %}
                                                        <img id="drag{{ x }}{{ y }}" data-square="({{ x+1 }},{{ 8-y }})" src="/static/images/{{ img_dict[(x+1,8-y)] }}" draggable="true" ondragstart="drag(event)">
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <table class="table-borderless">
                        <tr>
                            <td style="width: 23px; height: 20px;"></td>
                            <td style="text-align: center; width: 62px; height: 20px;">a</td>
                            <td style="text-align: center; width: 62px; height: 20px;">b</td>
                            <td style="text-align: center; width: 62px; height: 20px;">c</td>
                            <td style="text-align: center; width: 62px; height: 20px;">d</td>
                            <td style="text-align: center; width: 62px; height: 20px;">e</td>
                            <td style="text-align: center; width: 62px; height: 20px;">f</td>
                            <td style="text-align: center; width: 62px; height: 20px;">g</td>
                            <td style="text-align: center; width: 62px; height: 20px;">h</td>
                        </tr>
                    </table>
                </tr>
            </table>
        </div>
    </div>
    <div id="about">
        <h5>About Me</h5>
    </div>
</body>
</html>