<div class="modal fade" id="wModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h5 style="color: Black;">Select a piece to promote to!</h5>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="margin: auto;">
          <div class="promotion-piece" data-type="q" data-img="/static/images/white_queen.png"><img src="/static/images/white_queen.png" style="width: 60px; height: 60px;"></div>
          <div class="promotion-piece" data-type="r" data-img="/static/images/white_rook.png"><img src="/static/images/white_rook.png" style="width: 60px; height: 60px;"></div>
          <div class="promotion-piece" data-type="n" data-img="/static/images/white_knight.png"><img src="/static/images/white_knight.png" style="width: 60px; height: 60px;"></div>
          <div class="promotion-piece" data-type="b" data-img="/static/images/white_bish.png"><img src="/static/images/white_bish.png" style="width: 60px; height: 60px;"></div>
        </div>

      </div>
    </div>
</div>